.center {
		margin: auto;
		width: 60%;
		padding: 10px;
		opacity: 0.9;
}

.theazure {
		margin: auto;
		width: 60%;
		padding: 10px;
		opacity: 0.9;
		border: 3px solid #9B9A9B;
		background-color: #9B9A9B;
}
	
img {
		display:blocked;
		margin-left:20px;
		width:180px;
		border-radius: 50%
		
}
	
.about {
		margin: auto;
		width: 60%;
		padding: 5px;
		opacity: 0.9;
}
	
.welcome {
		font-family: righteous;
		color: black;
		font-size: 25px;
}