{% extends 'banner.html' %}
{% load static %}

{% block content %}
<div>
	<div style="display:inline-block;vertical-align:top;">
	<img src="{{ webcreator }}" alt="img"/>
	</div>
	<div style="display:inline-block; margin-left: 50px">
	<br>
	<br>
		<div style="font-family:questrial;font-size:30px">Nama: {{ name }}</div>
		<div style="font-family:questrial;font-size:30px">Umur: {{ age }}</div>
		<div style="font-family:questrial;font-size:30px">Hobi: {{ hobby }}</div>
		<div style="font-family:questrial;font-size:30px">Quote favorit: {{ quote }}</div>
	</div>
</div>
	
<br>
<br>
<div class="center" style="width: 90%;border: 3px solid #9B9A9B; background-color: #9B9A9B;">
	<b style = "color:white; font-family:questrial; font-size: 28px;"> Background</b>
	<br>
	<br>
	<a style = "color:white; font-family:questrial; font-size: 24px">Saya adalah seorang mahasiswa Fasilkom UI yang tertarik dengan komputer. Awalnya saya ingin mengambil prodi Ilmu Komputer, tetapi karena nilai saya sedikit rendah dari <i>passing grade</i>  sehingga takut tidak diterima, saya akhirnya mengambil Sistem Informasi. Saya suka menggunakan internet untuk mencari informasi. Saya mahir dalam bahasa Inggris, kimia, dan bermain video games, tetapi tidak terlalu kuat dengan fisika. Saat ini, saya sedang belajar programming dan web designing.</a>
</div>
<br>
<br>
<br>
<br>
<div style ="text-align:center;">
	<a class="btn btn-dark btn-lg" href="{% url 'index' %}" style="font-family:righteous;  color:white; font-size:25px;" role="button">Kembali</a>
</div>
<br>

{% endblock %}