{% extends 'banner.html' %}
{% load static %}

{% block content %}
<div class = "theazure" style ="text-align:center;">
	<h1><a style="font-family:courier;font-size:30px">Isi form dibawah ini<a></h1>
	<br>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Add!</button>
    </form>
</div>

<br>

{% endblock %}