{% extends 'banner.html' %}
{% load static %}

{% block content %}
<div style="font-family:courier; color:black; text-align:center;font-size:35px">
	<h1>DAFTAR JADWAL KEGIATAN YANG TERSIMPAN <br> (diurutkan berdasarkan waktu mulai)</h1>
</div>
<br>
<div class="container">
	<div class="row">
		<div class="col-md-8">
			{% for activity in activities %}
				<div>
					<div>
						<h2><a href="{% url 'activity_info' pk=activity.pk %}" style="color:black; font-family:righteous; margin:2px;padding:10px;">- {{ activity.activity_name }} ({{activity.start_date}})</a></h1>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>

<br>


<div style ="text-align:center;">
	<br>
	<a class="btn btn-dark btn-lg" href="{% url 'activity' %}" style="font-family:righteous;  color:white; font-size:25px;" role="button">Kembali</a>
</div>
<br>
{% endblock %}