{% extends 'banner.html' %}
{% load static %}

{% block content %}
<br>
<div style ="text-align:center;">
	<a class="btn btn-dark btn-lg" href="{% url 'activity_add' %}" style="font-family:righteous;  color:white; font-size:25px;" role="button">Tambahkan Aktivitas</a>
</div>
<br>
<div style ="text-align:center;">
	<a class="btn btn-dark btn-lg" href="{% url 'activity_list' %}" style="font-family:righteous;  color:white; font-size:25px;" role="button">Lihat Semua Aktivitas</a>
</div>
<br>
<div style ="text-align:center;">
	<a class="btn btn-dark btn-lg" href="{% url 'activity_confirm_delete' %}" style="font-family:righteous;  color:white; font-size:25px;" role="button">Hapus Semua Aktivitas</a>
</div>

{% endblock %}