{% extends 'banner.html' %}
{% load static %}

{% block content %}
<div style ="text-align:center;">
	<h1><a style="font-family:courier;font-size:30px">Dengan memencet tombol Iya, <br>anda setuju bahwa data kegiatan anda akan dihapus. <br>Yakin anda akan menghapus semua kegiatan yang ada?<a></h1>
	<br>
    <form method="POST" action="{% url 'activity_delete' %}">{% csrf_token %}
        <button class="save btn btn-default">Iya</button>
    </form>
</div>

<br>

{% endblock %}