{% extends 'banner.html' %}
{% load static %}

{% block content %}
<div style="font-family:courier; color:black; text-align:center;font-size:35px">
	<h1>INFO KEGIATAN</h1>
</div>
<br>

<div style = "font-family:righteous;text-align:left;margin:23px;font-size:30px">
	<p>Nama: {{activities.activity_name}}</p>
    <p>Kategori: {{activities.category}}</p>
	<p>Tempat: {{activities.place}}</p>
    <p>Deskripsi: {{activities.description|linebreaksbr }}</p>
	<p>Tanggal Mulai: {{activities.start_date}}</p>
</div>
<br>
<br>
<div style ="text-align:center;">
	<a class="btn btn-dark btn-lg" href="{% url 'activity_list' %}" style="font-family:righteous;  color:white; font-size:25px;" role="button">Kembali ke Daftar Kegiatan</a>
</div>

{% endblock %}