{% load static %}
{% static "testingapp/customstyle.css" as customstyle %}
{% static "testingapp/Azure.png" as azure %}
{% static "testingapp/webcreator.jpg" as webcreator %}
{% static "testingapp/dosen.jpg" as dosen %}


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ customstyle }}">
	<title>{{ sitename }}</title>
  </head>
  <body style = "background-color: #FFBA5C;">
  <div class="container-fluid"style = "background-color: #00A6FF">
	<ul class="nav justify-content-between">
		<li class="nav-item justify-content-center">
			<b class="nav-link active" style="font-family:courier; font-size:25px; color:black;"> Haikal's Personal Site</b>
		</li>
		<form class="form-inline">
			<li class="nav-item">
				<a class="btn btn-dark" href="{% url 'index' %}" style="font-family:righteous; color:white; margin: 4px;" role="button">Home</a>
			</li>
			<li class="nav-item">
				<a class="btn btn-dark" href="{% url 'about' %}" style="font-family:righteous; color:white; margin: 4px;" role="button">About</a>
			</li>
			<li class="nav-item">
				<a class="btn btn-dark" href="{% url 'special' %}" style="font-family:righteous; color:white; margin: 4px;" role="button">Special</a>
			</li>
			<li class="nav-item">
				<a class="btn btn-dark" href="{% url 'activity' %}" style="font-family:righteous; color:white; margin: 4px;" role="button">Aktivitas</a>
			</li>
			<li class="nav-item">
				<a class="btn btn-dark" href="{% url 'register' %}" style="font-family:righteous; color:white; margin: 4px;" role="button">Daftar</a>
			</li>
		</form>
	</ul>
	</div>
	<br>
	{% block content %}
	{% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>