{% extends 'banner.html' %}
{% load static %}

{% block content %}
<div class="theazure">
	<div style="display:inline-block; min-width:2.4cm; height:4.0cm; align: center;vertical-align: middle;" >
	  <img src="{{ azure }}" style="height:4.0cm;">
	</div>
	<div style="display:inline-block;vertical-align: middle;">
	  <b class = "welcome">HELLO THERE! 
	  <br> 
	  <br>
	  WELCOME TO MY
	  <br>
	  PERSONAL SITE!
	  </b>
	</div>
</div>
	
<br>
<br>
<div style="text-align:center;font-size:35px;">
	<b> Belum tahu dengan saya?
	<br>
	Langsung klik link dibawah ini...</b>
</div>
<br>
<br>
<div style ="text-align:center;">
	<a class="btn btn-dark btn-lg" href="{% url 'about' %}" style="font-family:righteous;  color:white; font-size:25px;" role="button">About myself</a>
</div>
<br>
<br>
<div style="text-align:center;color:white;font-family:righteous;font-size:40px;">
	<b>NEW FEATURES COMING SOON!</b>
</div>

{% endblock %}