{% extends 'banner.html' %}
{% load static %}

{% block content %}
<br>
<br>
<br>
<br>
<div class="center" style="width: 90%;border: 3px solid #9B9A9B; background-color: #9B9A9B;">
	<b style = "color:white; font-family:questrial; font-size: 28px;"> In construction. Feature will be added soon!</b>
</div>
<br>
<br>
<br>
<br>
<div style ="text-align:center;">
	<a class="btn btn-dark btn-lg" href="{% url 'index' %}" style="font-family:righteous;  color:white; font-size:25px;" role="button">Kembali</a>
</div>
<br>

{% endblock %}