{% extends 'banner.html' %}
{% load static %}

{% block content %}
<div class = "theazure" style ="text-align:center;">
	<form action="{% url 'registered' %}">
		<fieldset>
			<legend style = "font-family: righteous; font-size: 44px;">REGISTER FORM</legend>
			Nama:<br>
			<input type="text" name="name" value="">
			<br>
			Tanggal Lahir:<br>
			<input type="date" name="date of birth">
			<br>
			E-mail:<br>
			<input type="email" name="email">
			<br>
			Username:<br>
			<input type="text" name="username" value="">
			<br>
			Password:<br>
			<input type="password" name="password" value="">
			<br>
			Konfirmasi Password:<br>
			<input type="password" name="password confirmation" value="">
			<br>
			<br><br>
			<input type="submit" value="Submit">
		</fieldset>
	</form>
</div>

{% endblock %}