{% extends 'banner.html' %}
{% load static %}

{% block content %}
<div>
	<div style="display:inline-block;vertical-align:top;">
	<img src="{{ dosen }}" alt="img"/>
	</div>
	<div style="display:inline-block; margin-left: 50px">
		<div style="font-family:questrial;font-size:30px">Nama: {{ name }}</div>
		<div style="font-family:questrial;font-size:30px">Umur: {{ age }}</div>
		<div style="font-family:questrial;font-size:30px">Hobi: {{ hobby }}</div>
		<div style="font-family:questrial;font-size:30px">Quote favorit: {{ quote }}</div>
	</div>
</div>
	
<br>
<br>
<div class="center" style="width: 90%;border: 3px solid #9B9A9B; background-color: #9B9A9B;">
	<b style = "color:white; font-family:questrial; font-size: 28px;"> Background</b>
	<br>
	<br>
	<a style = "color:white; font-family:questrial; font-size: 24px">Ibu Suci merupakan dosen Junior di Fasilkom UI. Beliau merupakan dosen saya untuk Mata Kuliah Dasar-Dasar Pemrograman 2 dan Perancangan Pemrograman Web. Saat ini, beliau tertarik dengan cara mahasiswa Indonesia menggunakan media sosial sebagai media belajar, karena beliau melihat potensi dari media sosial untuk membantu orang di daerah rural dalam mengakses edukasi yang bagus, bahkan untuk negara yang berkembang.</a>
</div>
<br>
<br>
<br>
<br>
<div style ="text-align:center;">
	<a class="btn btn-dark btn-lg" href="{% url 'index' %}" style="font-family:righteous;  color:white; font-size:25px;" role="button">Kembali</a>
</div>
<br>

{% endblock %}